
.form-control,
input:focus {
    outline: none;
}

.form-control.error input,
.form-control.error textarea{
    border: 1px solid #EC7063;
}

.form-control.ok input,
.form-control.ok textarea {
    border: 1px solid #2ECC71;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    text-align: right;
}

.form-control.error small {
    visibility: visible;
    color: #EC7063;
}

.form-control.ok small {
    visibility: hidden;
    color: #2ECC71;
}

/* Boton enviar formulario */
input[type="submit"] {
    border: 1px solid #901c16;

}

input[type="submit"]:hover {
    background-color: #901c16;
    border: 2px solid #eceff1;
    color: #eceff1;
    font-weight: bold;
    cursor: pointer;
}